html, body {
    height: 100%;
    font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}

#main {
    overflow: hidden;
    height: 100%;
}

#side-bar {
    float: left;
    overflow-y: auto;
    height: 100%;
    width: 220px;
    background-color: #4d394b;
}

#side-bar #channel-list ul {
    padding-left: 10px;
}

#side-bar #channel-list ul a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
}

#side-bar #channel-list ul a li {
    padding: 2px 0 2px 10px;
    list-style: none;
}

#side-bar #channel-list ul a li:before {
    content: "# ";
    color: rgba(255, 255, 255, 0.4);
}

#side-bar #channel-list ul a li:hover {
    background-color: #3E313C;
    border-radius: 5px;
}

#side-bar #channel-list ul a li .message-count {
    float: right;
    display: block;
    margin: 0 5px;
    padding: 2px 7px;
    background-color: #EB4D5C;
    font-size: 12px;
    color: #FFFFFF;
    border-radius: 8px;
}

#main-body {
    float: left;
    overflow-y: auto;
    height: 100%;
    width: calc(100% - 220px);
}

.channel-container {
    padding: 10px 15px;
    border-bottom: solid 1px #dddddd;
}

.channel-container .channel-name {
    margin-bottom: 10px;
    font-size: 24px;
    color: #343434;
}

.channel-container .channel-name:before {
    content: "#";
    color: #9e9ea6;
}

.channel-container .message {
    overflow: hidden;
    margin-bottom: 10px;
}

.channel-container .message:last-child {
    margin-bottom: 0;
}

.channel-container .message .user-icon {
    float: left;
    font-size: 16px;
}

.channel-container .message .user-icon img {
    height: 36px;
    width: 36px;
    border-radius: 3px;
}

.channel-container .message .message-header {
    padding-left: 47px;
    font-size: 14px;
}

.channel-container .message .message-header .message-datetime {
    font-size: 12px;
    color: #999999;
}

.channel-container .message .message-header .user-name {
    font-size: 15px;
    font-weight: bold;
    color: #343434;
}

.channel-container .message .message-text {
    padding-left: 47px;
    font-size: 15px;
    color: #3a3a3a;
}

.channel-container .no-message {
    color: #bbbbbb;
    font-size: 13px;
}
